*{
	margin: 0px;
	padding: 0px;
}
:root {
	--cor-fundo:#000;
	--cor-texto:#fff;
	--cor-botao:#009748;
	--cor-fundo2:#222634;
	--fundo-form:#2E3447;
	--texto-form:#FFF;
}

header {
	background-color: var(--cor-fundo);
	text-align: center;
	padding: 20px 10px;
}

#inicio {
	background-color: var(--cor-fundo);
	height:900px;
}

.container {
	display:grid;
	grid-template-areas:"col-esquerda col-direita";
	width: 1440px;
	grid-template-columns: 720px 720px;
}

.coluna_esquerda {
	color: var(--cor-texto);
	grid-area: col-esquerda;
	height: 900px;
	font-family: 'Inter';
	font-weight: 900px;
	text-align: center;
}

.titulo {
	font-family: 'Inter';
	font-weight: 900px;
	font-size: 28px;
	text-align: center;
	margin-top: 100px;
}

.foto {
	text-align:right;

}

.botão1 {
 	display:block;
 	background: var(--cor-botao);
 	color:var(--cor-texto);
 	text-decoration: none;
 	border-radius: 8px;
 	padding:16px;
 	margin:0px 60px;
 	font-family: 'Inter';
 	font-size: 16px;
 	text-align: center;

}

.botão2 {
	display:block;
 	background:transparent;
 	border: 2px solid #fff;
 	color:var(--cor-texto);
 	text-decoration: none;
 	border-radius: 8px;
 	padding:16px;
 	margin:0px 60px;
 	font-family: 'Inter';
 	font-size: 16px;
 	text-align: center;
}
.texto_obs {
	text-align: center;
}

.bk_quarteto_fantastico {
	background-image: url('../imagem/bk_quarteto_fantastico.jpg');
	background-repeat: no-repeat;

}


#primeira_página {
	background-color: var(--cor-fundo2);
	height: 900px;
}

.titulo2 {
	font-family: 'Inter';
	font-weight:900px;
	font-size: 48px;
	text-align:left;
	margin-right:20px;
	color: var(--cor-texto);
	padding: 20px;
	position: absolute;
	width: 590px;
	height: 60px;
	left: 650px;
	top: 1300px;
}

.escrita {
	text-align: left;
	font-size: 15px;
	padding: 20px;
	color: var(--cor-texto);
	margin-right: 50px ;
	font-family: 'Inter';
	position:absolute;
	width: 590px;
	height: 60px;
	left: 650px;
	top: 1400px;
}

.imagem1 {
	float: left;
    border: transparent solid;
    padding: 0px;
    margin: 200px 500px 500px 50px;
    max-width: 1000px;
}

#segunda_página {
	background-color: var(--cor-fundo);
	height: 900px;
}

.coluna_esquerda {
	color: var(--cor-texto);
	grid-area: col-esquerda;
	height: 900px;
	font-family: 'Inter';
	font-weight: 900px;
	text-align: center;
	font-size: 15px;

}

.escrita2 {
	text-align: right;
	font-size: 15px;
	padding: 20px;
	color: var(--cor-texto);
	margin-right: 50px ;
	font-family: 'Inter';
	position: absolute;
	width: 570px;
	height:65px;
	left: 140px;
	top: 2115px;
	margin:0px 1000px 0px 0px;
	text-align: center;

}

.imagem2 {
	margin: -10px 2000px -0px 750px;
	position: right;
}

.botão3 {
	display:block;
 	background:var(--cor-botao);
 	border:0px;
 	color:var(--cor-texto);
 	text-decoration: none;
 	border-radius: 8px;
 	padding:16px;
 	margin:10px 0px 0px -10px;
 	font-family: 'Inter';
 	font-size: 16px;
 	text-align: center;
 	position: absolute;
 	width: 512px;
	Top:2231px;
	Left:165px;
	Radius:8px;
	Gap:16px;
}

#terceira_página {
	background: var(--cor-fundo2);
	height: 900px;
}

.imagem5 {
	float: left;
    border: transparent solid;
    padding: 0px;
    margin: 200px 500px 500px 50px;
    max-width: 1000px;
}

.titulo3 {
	font-family: 'Inter';
	font-weight:900px;
	font-size: 48px;
	text-align:left;
	margin-right:20px;
	color: var(--cor-texto);
	padding: 20px;
	position: absolute;
	width: 590px;
	height: 60px;
	left: 650px;
	top: 3100px;
}

.escrita3 {
	text-align: right;
	font-size: 15px;
	padding: 20px;
	color: var(--cor-texto);
	margin-right: 50px ;
	font-family: 'Inter';
	position: absolute;
	position: absolute;
	width: 588px;
	height: 48px;
	left: 732px;
	top: 3172px;
	margin:0px 0px 0px -85px;
	text-align: left;
}

#quarta_página {
	background: var(--cor-fundo);
	height: 900px;
}

.imagem4 {
	float: left;
    border: transparent solid;
    padding: 0px;
    margin: 250px 0px 0px 250px;
    max-width: 1000px;
}

.escrita4 {
	text-align: center;
	font-family: 'Inter';
	font-size: 40px;
	color: var(--cor-texto);
	position: absolute;
	top: 3850px;
	margin: 160px 0px 0px 330px;
}

.escrita5 {
	text-align: center;
	font-family: 'Inter';
	font-size: 32px;
	color: var(--cor-texto);
	position: absolute;
	top: 4000px;
	margin: 300px 0px 0px -750px;
}

.escrita6 {
	text-align: center;
	font-family: 'Inter';
	font-size: 32px;
	color: var(--cor-texto);
	position: absolute;
	top: 4000px;
	margin: 305px 0px 0px -495px;

}

.escrita7 {
	text-align: center;
	font-family: 'Inter';
	font-size: 32px;
	color: var(--cor-texto);
	position: absolute;
	top: 4000px;
	margin: 305px 0px 0px -140px;
}

/*SEÇÃO CONTATO*/
.contato_conteudo {
	margin: auto 0px;
	background-color: var(--fundo-form);
	text-align: center;
	color: var(--cor-texto);
	font-family: 'Inter';
	padding: 50px;
}

.contato_conteudo h1 {
	font-size: 48px;
}

.control_form {
	text-align: center;
	background-color: var(--fundo-form);
	color: var(--texto-form);
	border: 1px solid var(--cor-texto);
	border-radius: 10px;
	font-size: 18px;
	margin: 10px;
	padding: 10px;
	width: 500px;
}

.button_form {
	background-color: var(--botao);
	color: var(--cor-texto);
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	display: block;
	width: 520px;
	margin: 0 auto;
	font-size: 16px;
	border: 2px solid transparent;
}

.button_form:hover {
	background-color: transparent;
	color: var(--texto-form);
	border: 2px solid var(--texto-form);
}

.rodapé {
	background: var(--fundo-form);
}

.imagem {
	text-align: center;
}